<form style="margin-left:10vw; margin-top: 5vw;">
    <div class="form-group" >
        <label for="fName">Full Name</label>
        <input id="fName" type="text" class="form-control" style="border: 0; background-color: transparent;" placeholder="Name?">
    </div>
    <div class="form-group">
        <label for="WHY">WHY</label>
        <textarea id="why" cols="30" rows="10" class="form-control" style="border: 0; background-color: transparent;" placeholder="Reason?">

        </textarea>
        <div><button class="btn btn-primary">
            Request Kill 
        </button></div>
    </div>
</form>